@tailwind base;
@tailwind components;
@tailwind utilities;

@import "aos/dist/aos.css";

body {
  @apply text-base;
  font-family: "Quicksand";
}

hr {
  @apply my-6 rounded-lg border-0 border-b-[1px] bg-base-100 opacity-50;
}

table {
  border-spacing: 40px;
}
td,
th {
  @apply border-separate border-spacing-6 text-primary;
}

/**
* Data AOS Custom Animations
*/

[data-aos="fade-left-custom"] {
  opacity: 0;
  transform: translate(20px);
}
[data-aos="fade-left-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}

[data-aos="fade-up-custom"] {
  opacity: 0;
  transform: translate(0, 20px);
}

[data-aos="fade-up-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}

/* 
* CSS Transition Group
*/

.bottom-dialog-enter {
  @apply -bottom-full;
}
.bottom-dialog-enter-active {
  @apply bottom-0;
  transition: all 600ms cubic-bezier(0.01, 0.45, 0, 0.99);
}
.bottom-dialog-exit {
  @apply bottom-0;
}
.bottom-dialog-exit-active {
  @apply -bottom-full;
  transition: all 400ms cubic-bezier(0.75, 0.06, 0.97, 0.63);
}

.sidebar-enter {
  @apply -right-full;
}
.sidebar-enter-active {
  @apply right-0;
  transition: all 600ms cubic-bezier(0.01, 0.45, 0, 0.99);
}
.sidebar-exit {
  @apply right-0;
}
.sidebar-exit-active {
  @apply -right-full;
  transition: all 400ms cubic-bezier(0.75, 0.06, 0.97, 0.63);
}

/* 
* Radix Components animations
*/
.Overlay {
  @apply bg-[#0a040452];
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.Overlay[data-state="open"] {
  animation: fadeInOverlay 300ms ease-out;
}
.Overlay[data-state="closed"] {
  animation: fadeOutOverlay 300ms ease-in;
}

/* Dialog */

.DialogContent:focus {
  outline: none;
}

@keyframes dialogEnter {
  from {
    @apply -bottom-full;
  }
  to {
    @apply bottom-0;
  }
}

@keyframes dialogLeave {
  from {
    @apply bottom-0;
  }
  to {
    @apply -bottom-full;
  }
}

.DialogContent[data-state="open"] {
  animation: dialogEnter 600ms cubic-bezier(0.01, 0.45, 0, 0.99);
}

.DialogContent[data-state="closed"] {
  animation: dialogLeave 400ms cubic-bezier(0.75, 0.06, 0.97, 0.63);
}

/* Drawer */

.DrawerContent:focus {
  outline: none;
}

@keyframes drawerEnter {
  from {
    @apply -right-full;
  }
  to {
    @apply right-0;
  }
}

@keyframes drawerLeave {
  from {
    @apply right-0;
  }
  to {
    @apply -right-full;
  }
}

.DrawerContent[data-state="open"] {
  animation: drawerEnter 600ms cubic-bezier(0.01, 0.45, 0, 0.99);
}

.DrawerContent[data-state="closed"] {
  animation: drawerLeave 400ms cubic-bezier(0.75, 0.06, 0.97, 0.63);
}
