@tailwind base;
@tailwind components;
@tailwind utilities;

@import "aos/dist/aos.css";

body {
  @apply text-base;
  font-family: "Quicksand";
}


/**
* All the gradiants for tailwind go in a class.
*/

.gradiant{
  @apply bg-gradient-to-tl from-[#3c1155] from-20% via-[#39155a] via-60% to-[#3d1381] to-95%;
}

.l{
  background-color: #4f617e;
}


/**
* Data AOS Custom Animations
*/

[data-aos="fade-left-custom"] {
  opacity: 0;
  transform: translate(20px);
}
[data-aos="fade-left-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}

[data-aos="fade-up-custom"] {
  opacity: 0;
  transform: translate(0, 20px);
}

[data-aos="fade-up-custom"].aos-animate {
  opacity: 1;
  transform: translate(0);
}



.bottom-dialog-enter {
  @apply -bottom-full;
}
.bottom-dialog-enter-active {
  @apply bottom-0;
  transition: all 600ms cubic-bezier(0.01, 0.45, 0, 0.99);
}
.bottom-dialog-exit {
  @apply bottom-0;
}
.bottom-dialog-exit-active {
  @apply -bottom-full;
  transition: all 400ms cubic-bezier(0.75, 0.06, 0.97, 0.63);
}



